* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body { 
    margin: 0; 
}
#logo { 
    float:left;
    width: 100%;
    height: 100%;
}
.logoright {
    float: right;
    width: 5px;
    height: 66px;
    padding: 0;
}
.limpiador {
    clear:both;
}
#logoD {
    top:0;
    width: 100px;
    height: 66px;
}
.logor {
    float: right;
    width: 100px;
    height: 66px;
    padding: 0;
    margin: 0;
}
.logoclass {
    float: left;
    top: 0;
    background-color: #DA82E9;
    width: 100px;
    height: 66px;
    position: fixed;
    
}
#nav
     {
     background-color: #DA82E9;
     width:100%;
     height:66px;
      box-shadow: 0px 1px 10px #d40bf7;
      position: fixed;
      top:0px;
     justify-content: space-between;
     display: flex;
     vertical-align: middle;
}
#navigation {
 list-style-type:none; 
 text-align: center;
 padding-top: 15px;
 align-items: center;
 padding-left: 500px;
}
li { 
 display:inline;
 padding:15px;
 }
#nav a
{
 font-size: 1.6em;
 text-transform: uppercase;
 text-shadow: 0 0 0.3em #464646;
 font-weight: bold;
 font-family:century gothic;
 text-decoration:none;
 color:white;
} 
 #nav a:hover 
{
opacity:0.36;
}
.hero-image {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../1banner_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
#about {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Verdana;
    border: none;
    text-align: center;

}
#aboutUs {
   background-color: transparent; 
    color: white; border: 1px solid #f6f9f9; 
    padding: 15px 30px; 
    border-radius: 5px; 
    font-size: 20px;
}
#aboutUs:hover {
    background-color: dimgrey;
    color: white;
}
#aboutUs:active {
    background-color: black;
}
/* Sections style */
#Accesories {
    width: 100%;
    height: auto;
    background-color: #e6e6dc;
}
#Eyes {
    width: 100%;
    height: auto;
    background-color: #e6e6dc;
}
#Hair {
        width: 100%;
    height: auto;
    background-color: #e6e6dc;
}
#Lips {
    width: 100%;
    height: auto;
    background-color: #e6e6dc;
}
#Skincare {
    width: 100%;
    height: auto;
    background-color: #e6e6dc;
}
.boxLips {
     width: 33.3333333%;
     padding: 0 20px; 
}
.boxSkincare {
     width: 33.3333333%;
     padding: 0 20px; 
}
.boxAccesories {
     width: 33.3333333%;
     padding: 0 20px;
}
.boxEyes {
     width: 33.3333333%;
     padding: 0 20px; 
}
.boxHair {
     width: 33.3333333%;
     padding: 0 20px; 
}
h4 {
    color:black;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    padding: 5px 0;

}
span {
    color: black;
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
}
#shopAc {
    color:white;
    background-color: #9f004f;
    border: 1px solid #6500db; 
    padding: 15px 30px; 
    border-radius: 5px;
    font-family: Verdana;
    border-radius: 10px
}
#shopAc:hover {
    background-color: #000000;
    color: white;
}
#nav a:active {
    color: white;
    background-color: #de22de;
}
#shopAc:active {
    background-color: #2c0429;
    color: white;
}
h2 {
    text-align: center;
    color: purple;
    font-family: Bahnschrift, Arial;
    font-size: 25px;
    font-style: normal;
    padding-bottom: 15px;
    padding-top: 60px;
}
h1 {
    font-family: Arial;
    color:whitesmoke;
}
hr {
    width: 100%;;
    height: 5px;
    background-color: grey;
}
footer {
    background-color: #1a1616;
    width: 100%;
    height: auto;
}
#paymentMethods {
    width: 400px;
    height: 200px;
    align-content: center;
}
#location {
    width: 200px;
    height: 200px;
    align-content: center;
}
#social {
     list-style-type: none;
     margin: 0;
     padding: 0;
    font-family: Arial;
    font-size: 16px;
    color:white;
}
#footerS {
    object-fit: cover; 
    width:;50px; 
    height:50px;
}
#linksS {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#linksS:hover {
    opacity:0.36; 
}
#linksS:active {
    background-color: #90418d;
}
#titleL {
    text-align: center;
    color:white;
    font-size: 20px;
    font-family: Arial;
}
#dir {
    color: white;
    font-size: 16px;
    font-family: Verdana;
    white-space: pre;
    
}
#shipping {
    font-size: 22px;
    font-family: Verdana;
    font-style: oblique;
    color:white;
}
#ceo {
    text-align: center;
    color: #403535;
    font-size: 22px;
    font-family: Arial;
    font-style: italic;
}
#counter {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    top: 20px;
    padding: 0;
}
img {
    border-radius: 10px
}
#cargando {
    display: none;
}